:root {
  --main-color: rgb(91, 91, 91);
  --sec-color: rgb(0, 230, 150);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
}

.search {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button {
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

.imgCard {
  width: 200px;
}

.jobCard {
  margin: 10px;
  padding: 0 5px 0 5px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
}

.jobCard img {
  width: 50px;
  height: 50px;
}

.headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footerCard button {
  padding: 5px;
  border: solid 2px black;
  background-color: var(--sec-color); 
}

.footerCard p {
  margin: auto 0;
}

.score {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  height: 20px;
  padding: 2px;
  border-radius: 20px;
}

.score i {
  color: gold;
}

.about {
  margin-bottom: 5px;
}

@media (max-width: 375px) {
  .jobCard {
    width: 90%;
  }
}
